<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de cursos</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>cursos</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cursos %}
            <tr>
                <td>{{c.name}}</td>
            </tr>    
            {% endfor %}     
        </tbody>
    </table>
</body>
</html>