<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #myBar{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;

    }

    #myBar li{
        display: inline;
        margin: 0 30px;
    }
</style>
<body>
    <ul id="myBar">
        <li>Principal</li>
        <li>hija 1</li>
        <li>hija 2</li>
        <li>Contact</li>
        <li>Information</li>
    </ul>
</body>
</html>